<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whx.dao.TeacherDao">
    <!--redis缓存-->
    <cache type="com.whx.cache.RedisCache"/>
    <insert id="insertAll" parameterType="com.whx.entity.Teacher">
        insert  into teacher values (#{tid},#{tname},#{tel})
    </insert>

    <select id="findAllTeacher" resultType="teacher">
        select tid,tname,tel from teacher
    </select>
</mapper>